/* color hex vintage cv */

html {
	height:100%;
}

body {
	background-color: #fff
	height:100%;
	width:90%;
	margin-top: 10px;
	margin-bottom: 50px;
	padding-left: 70px;
	padding-right: 30px;
}


h1 {
	font-family: 'Helvetica Neue thin', Helvetica, Arial, sans-serif;
	font-size: 50px;
	text-align: left;
	padding-top: 10px;
	color: #f689aa;
}

h2 {
	font-family: 'Helvetica Neue thin', Helvetica, Arial, sans-serif;
	font-weight: lighter;
	font-size: 30px;
	text-align: left;
	color: #d84f79;
	padding-bottom: 10px;
	padding-top: 20px;
	margin-top: 20px; 
    line-height: 0px;
}

h3 {
	font-family: 'Helvetica Neue thin', Helvetica, Arial, sans-serif;
	font-weight: lighter;
	font-size: 25px;
	text-align: left;
	padding-bottom: 0px;
	padding-left: 100px;
	color: #02092b;
}



table {
	background-color: #fff;
	align-self: left;
	align-content: left;
	width: 85%;
}


th {
	background-color: #fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: left;
	padding-left: 15 px;
	padding-right: 10px;
	color: #c34500;
	font-size: 19px;
}

td {
	background-color: #fff;
	text-align: left;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 10px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
}

tr {
	background-color: #fff;
	text-align: center;
	padding: 0px;
}

a:link {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #f689aa;
	text-decoration: underline;
}

a:visited {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #993856;
	text-decoration: none;
}

a:hover {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #f689aa;
    text-decoration: underline;
}

p {
	color: #02092b;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-align: justify;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.back {
	color: #f689aa;
	font-family: 'Helvetica Neue thin', Helvetica, Arial, sans-serif;
	font-weight: lighter;
	font-size: 28px;
	text-align: right;
	padding-right: 70px;
	padding-bottom: 40px;
	padding-top: 5px;
}

.language {
	color: #02092b;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: lighter;
	font-size: 18px;
	text-align: center;
}

.mail {
	color: #02092b;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-align: center;
}


ul{
	list-style-type: circle;
	margin: 10px;
}

li {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #02092b;
	padding: 5px;
	font-size: 18px;
}


footer {
	position:absolute;
	bottom:0;
	width:100%;
	padding-top:20px;
	height:20px;
}
