/* color hex seventies-yellow :
1 titre #c34500
2 lien lu #a9d44a
4 texte #001e24
5 lien non lu #db7b03 */

html {
	height:100%;
}

body {
	background-color: #fff
	text-align: center;
	height:100%;
	width:90%;
	margin-top: 10px;
	margin-bottom: 50px;
	padding-left: 20px;
	padding-right: 30px;
}


h1 {
	font-family: Silom, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 50px;
	text-align: center;
	padding-top: 10px;
	color: #c34500;
}

h2 {
	font-family: Abadi, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: lighter;
	font-size: 40px;
	text-align: center;
	padding-bottom: 10px;
	color: #c34500;
	margin-top: 0px; 
    margin-bottom: 0px; 
    line-height: 0px;
}

h3 {
	font-family: Abadi, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 25px;
	text-align: left;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 100px;
	color: #a9d44a;
}



table {
	background-color: #fff;
 	margin-left:auto; 
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
}


th {
	background-color: #fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: left;
	padding-left: 15 px;
	padding-right: 10px;
	color: #c34500;
	font-size: 19px;
}

td {
	background-color: #fff;
	text-align: left;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 10px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
}

tr {
	background-color: #fff;
	text-align: center;
	padding: 0px;
}

a:link {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #db7b03;
	text-decoration: none;
}

a:visited {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #a9d44a;
	text-decoration: none;
}

a:hover {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #a9d44a;
    text-decoration: underline;
}

p {
	color: #001e24;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-align: justify;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.back {
	color: #00829c;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: lighter;
	font-size: 18px;
	text-align: right;
	padding-right: 70px;
	padding-bottom: 40px;
	padding-top: 5px;
}

.language {
	color: #00829c;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: lighter;
	font-size: 18px;
	text-align: center;
}

.mail {
	color: #001e24;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-align: center;
}


ul{
	list-style-type: circle;
	margin: 10px;
}

li {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: stronger;
	color: #001e24;
	padding: 5px;
	font-size: 18px;
}


footer {
	position:absolute;
	bottom:0;
	width:100%;
	padding-top:20px;
	height:20px;
}
